.top-logo{
  width:100%;
  height:70px;
  background-color:rgba(51, 112, 116, 255);
  display:flex;
  justify-content: space-between;
}
.top-logo img{
  width:184px;
  height:48px;
  margin-top:6px;

}
.left-icons{
  margin-left:30px;
  padding-top: 20px;
  width:90px;
  display:flex;
  justify-content: space-around;

}
.left-icons .font-icon{
 width:25px;
 height:25px;
  


}
.left-icons .font-icon:hover{
  color: black;


}

.right-icon {
  width:70px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding:15px;
  margin-right:  40px;
    

}
.right-icon p{
  font-size:25px;
  color: white;
  margin-left:20px;
margin-top:5px;
  text-decoration: none;
  
  
} 

.right-icon .font-icon {
  width: 25px;
  height: 45px;
  margin-bottom:10px;
  
}
.right-icon :hover{
  color: black;
}
.navbar{
 background-color:  rgba(212, 175, 55, 255);
 height: 45px;
 display: flex;
 justify-content:space-between;
}
.nav-left{
  width:20%;
}
.nav-center{
  display:flex;
  width:613.531px;
  justify-content:space-between;
  

}
.nav-right{
  width:177.960px;
  display:flex;
  justify-content: space-between;
  padding-left:100px;
  padding-right:20px;
}
.nav-right .font-icon{

width: 25px;
  height: 25px;
  color:rgba(57, 54, 54, 255);
}



.nav-dropmenu:hover{
  background-color: rgba(212, 175, 55, 255);
    border: 0px rgba(212, 175, 55, 255);
    color: black;
}
 .nav-dropmenu1{
  background-color: rgba(212, 175, 55, 255);
  border:0px rgba(212, 175, 55, 255);
  color:black;
}



.nav-dropitem{
    background-color: rgba(51, 112, 116, 255);
 color:blue;
} 






.carousel-cell{
  width:100%;
  height:600px;
  position:relative;
}

.carousel-cell img{
  width:100%;
  height:100%;
}


.slide-text {
  position: absolute;
  bottom: 50%;
 
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  

  padding: 10px 20px;
  border-radius: 10px;
  

}

.slide-text h1 {
  font-size: 71px;
  margin: 0;
  color: white;
  font-family: sans-serif;
}

.slide-text h5 {
  font-size: 18px;
  margin: 5px 0 0;
  color: white;
  font-family: sans-serif;
}
.carosel-button{
  background-color: #337073;
  color: white;
  width: 190px;
  height: 51px;
  padding: 10px 30px;
  border-radius: 10px;
  margin-left: 35%;
  margin-top: 10px;
  font-size: 21px;
}


.carousel-cell-arrivals{
  width:90%;
  height:390px;
  position:relative;
    padding-left:15px;
    padding-right:15px;
    text-align: center;
  
    
}
.Slider {
  border-spacing: 20px;
}
.carousel-cell-arrivals img{
  width:100%;
  height:280px;
  margin-bottom: 20px;
  border-radius: 15px ;
  

}
.new-arrivals{
  text-align: center;
  margin-top: 40px;
  padding: 50px;


}
.new-arrivals-h1{
  color: #4b4b4b;
  font-size: 35px;
  font-family: sans-serif;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;

  height: 30px;
  
  
  
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  font-size: 20px;
  z-index: 1;
}

.slick-prev {
  left: 10px;
 
}

.slick-next {
  right: 10px;

}
.ocassion{
  display: flex;
  justify-content: space-between;
  width: 100%;
  

}
.ocassion-1{
height: 302px;
margin: 10px;
padding: 5px;
width: 24%;
text-align: center;
background-color: #eeeeee;
}
.ocassion-1 img{
  width: 100%;

}
.shop-by-ocassion{
  text-align: center;
}
.offer{
  margin: 5%;
  background-color: #dcb976;
  margin-top: 10%;
  border-radius: 5px;
  text-align: center;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}



.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-item {
  flex: 0 0 24%;
  margin-bottom: 16px;
  height: 300px;
}

.image-item img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border: 0px solid;


}
.indifeet{
  text-align: center;
}

.zoomable-image {
  width: 100%;
  transition: transform 0.3s;

}

.zoomable-image:hover {
  transform: scale(1.1);
 
}

.trending{

margin-top:15px;
padding:20px;
}
.trending-bottom{
  margin-top:15px;
  display:flex;
  justify-content: space-around;
}
.trending-item{
  width:25%;
  display:flex;
  
}
.trending-item img{
  width:70px;
  height:70px;
  border-radius:50%;
  margin-right:15px;
}
.trending-item h4{
   margin-top:13px;
}
.bottom{
  margin-top: 30px;
  height: 500px;
  width: 100%;
  background-color: #337073;
  border-top: 5px solid #dcb976;
  display: flex;
  flex-direction: column;
padding:5%;
}
.bottom1{
  text-align: center;

}
.bottom2{
  text-align: center;
  margin-top:50px;
  display: flex;
  flex-direction: column;
}
.bottom2 input{
  margin: 15px;
  background-color: #337073;
  width: 200px;
  margin-left:43%;
  border:0px;
  border-bottom:2px solid white;

}
.bottom1 p{
  color:white;
}
.bottom2 h4{
  color:white;
}

.bottom2 input:focus{
  outline: none;
  border-bottom: 2px solid #dcb976;
}

.bottom2 button{
  width:200px;
  height:50px;
  border-radius:5px;
  margin-left:43%;
  border:none;
  box-shadow: none;

}
.bottom2 button:hover{
  background-color: #337073;
  color:#dcb976;
}
.home-button{
  background-color:  rgba(212, 175, 55, 255);
  border: none;
  font: bold;
}
.button-blog{
  background-color: rgba(212, 175, 55, 255);
  border: none;
}
.image-grid1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 

}

.image-item1 {
  flex: 0 0 32.9%;
  /* height: 650px; */
  margin-bottom: 10px;
  text-align: center;
  border: 2px solid silver;
}
.card1 img{
  height: 400px;
}
.text-bottom{
  display:flex;
  padding-left:40%;
  
}
.card-text{
  margin-right:15px;

}
.tophead{
  display:flex;
}
.tophead p{
  font-size: 40px;
}
.line{
  border-top:1px solid black;
  height:2px;
  widtH:100%;
  margin-top:32px;
  margin-left:10px;
  margin-right:15px;
}
.viewimages{
  padding-right: 15px;
  padding-left: 15px;
}
.cartbottom{
  margin: 50px;
  /* background-color: silver; */
}
.cartbottom1{
  height: 70px;
  display: flex;
  background-color: #f0f1f3;
  align-items: center;
  padding: 5px;
  

}
.cartbottom1 p{
  margin-left: 10px;
  margin-top: 10px;
}
.topheading{
  text-align: center;
  font-size: 40px;
}
.cartbottom2{
  background-color: whitesmoke;
 
 
  align-items: center;

}
.returnbt{
  border: none;
  background-color: white;
  width: 200px;
  height: 50px;
  padding: 7px;
  margin-left: 30px;
  /* text-align: center; */
}
.returnbt:hover{
  background-color: #337073;
}
.logo2{
  background-color: #337073;
  border: #337073;
}
.search1{
   text-align: center;
   padding: 250px;
  
  
}
.myaccount{
  margin: 20px 5% 20px 5%;
  /* display: flex; */
  text-align: center;
  width: 90%;
  /* background-color: #dcb976;  */

  



}
.accountbottom{
  margin-top: 30px;
  /* background-color: red; */
  display: flex;

}
.accountbottom1{
  margin-right: 30px;
  
}
.accountbottom2{
  width: 70%;
  text-align: left;
}
.accountbottom1 p{
  width: 200px;
  padding: 5px;
  /* background-color: #dcb976; */
  border-bottom: 1px solid rgba(82, 80, 80, 0.275);
  margin: 0;
}
.accountbottom1 p:hover{
  background-color: #dcb976;
}
.accountbottom2 p{
  font-size: 20px;
}
.search1 input{
  border: none;
  width: 50%;
  height: 70px;
  cursor: text;
 
}

.search1-icon{
  color: white;
  background-color: gold;
  border-radius: 50%;
  padding: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

}
.search1{
  display: flex;

}
.search1 input:focus{
  border: non;
}
.cartbutton{
  padding: 5px;
  background-color: #337073;
  color: #eeeeee;
  border-radius: 5px;

}
.cartbutton:hover{
  color: #dcb976;
  
}



/* SearchComponent.css */
.search-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-color: rgba(0, 0, 0, 0.729);
  /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:5;
}

.exit-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color:white;
 
}

.search-content {
  top:50%;
  display:flex;
  border-bottom:2px solid gold;
  padding-bottom:3px;
}
.search-input{
      background-color: transparent ;
    width:500px;
    height:70px;
    border:none;
    margin-right:20px;
    outline:none;
    font-size:40px;
    color:white;
}

.search-input:focus{
  outline:none;
    caret-color: white;
}

.cart-products{
  width:100%;
  height:150px;
  display:flex;
  background-color:#337073;
  margin-bottom:50px;
  padding:10px;
}
.cart-products img{
  width:130px;
  height:130px;
}
.cart-product-details{
  margin-left:40px;
}
.cartbuttons{
  display: flex;
  justify-content: space-between;
}