.top-logo{
  width:100%;
  height:70px;
  background-color:rgba(51, 112, 116, 255);
  display:flex;
  justify-content: space-between;
}
.top-logo img{
  width:184px;
  height:48px;
  margin-top:6px;

}
.left-icons{
  margin-left:30px;
  padding-top: 20px;
  width:90px;
  display:flex;
  justify-content: space-around;

}
.left-icons .font-icon{
 width:25px;
 height:25px;
  


}
.left-icons .font-icon:hover{
  color: black;


}

.right-icon {
  width:70px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding:15px;
  margin-right:15px;

}
.right-icon p{
  font-size:25px;
  color: white;
  margin-left:7px;
} 

.right-icon .font-icon {
  width: 25px;
  height: 25px;
  margin:10px;
  
}
.right-icon :hover{
  color: black;
}
.navbar{
 background-color:  rgba(212, 175, 55, 255);
 height:45px;
 display:flex;
 justify-content:space-between;
}
.nav-left{
  width:20%;
}
.nav-center{
  display:flex;
  width:613.531px;
  justify-content:space-between;
  

}
.nav-right{
  width:177.960px;
  display:flex;
  justify-content: space-between;
  padding-left:100px;
  padding-right:20px;
}
.nav-right .font-icon{

width: 25px;
  height: 25px;
  color:rgba(57, 54, 54, 255);
}



.nav-dropmenu:hover{
  background-color: rgba(212, 175, 55, 255);
    border: 0px rgba(212, 175, 55, 255);
    color: black;
}
 .nav-dropmenu1{
  background-color: rgba(212, 175, 55, 255);
  border:0px rgba(212, 175, 55, 255);
  color:black;
}



.nav-dropitem{
    background-color: rgba(51, 112, 116, 255);
 color:blue;
} 






.carousel-cell{
  width:100%;
  height:600px;
  position:relative;
}

.carousel-cell img{
  width:100%;
  height:100%;
}


.slide-text {
  position: absolute;
  bottom: 50%;
 
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  

  padding: 10px 20px;
  border-radius: 10px;
  

}

.slide-text h1 {
  font-size: 71px;
  margin: 0;
  color: white;
  font-family: sans-serif;
}

.slide-text h5 {
  font-size: 18px;
  margin: 5px 0 0;
  color: white;
  font-family: sans-serif;
}
.carosel-button{
  background-color: #337073;
  color: white;
  width: 190px;
  height: 51px;
  padding: 10px 30px;
  border-radius: 10px;
  margin-left: 35%;
  margin-top: 10px;
  font-size: 21px;
}


.carousel-cell-arrivals{
  width:90%;
  height:390px;
  position:relative;
    padding-left:15px;
    padding-right:15px;
    text-align: center;
  
    
}
.Slider {
  border-spacing: 20px;
}
.carousel-cell-arrivals img{
  width:100%;
  height:280px;
  margin-bottom: 20px;
  border-radius: 15px ;
  

}
.new-arrivals{
  text-align: center;
  margin-top: 40px;
  padding: 50px;


}
.new-arrivals-h1{
  color: #4b4b4b;
  font-size: 35px;
  font-family: sans-serif;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;

  height: 30px;
  
  
  
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  font-size: 20px;
  z-index: 1;
}

.slick-prev {
  left: 10px;
 
}

.slick-next {
  right: 10px;

}
